/* RESPONSIVE PROPERTIES */
body {
    background: linear-gradient(180deg, #3F3CF3 0%, rgba(255, 255, 255, 0) 100%), #1F90C0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hidden{
    display: none
}

#textDiv {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #FFFFFF
}

#yourCityIs{
    font-style: normal;
    font-weight: normal;
}

#cityAJAX{
    font-weight: bold;
    border-bottom: 6px solid currentColor;
    display: inline-block;
}

#privacyLink{
    position: absolute;
    width: 90px;
    height: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none
}


/* UNDER 545px */
@media only screen and ( max-width: 544px ) {
    #textDiv{
        font-style: normal;
        width: 215px;
        height: 110px;
        margin: 358px auto auto auto;
    }

    #yourCityIs{
        position: absolute;
        text-align: center;
        width: 121px;
        height: 33px;
        left: 126px;
        top: 358px;
        font-size: 24px;
        line-height: 33px;
    }

    #cityAJAX{
        position: absolute;
        width: 215px;
        height: 49px;
        left: 80px;
        top: 405px;
        font-size: 36px;
        line-height: 49px;
    }

    #privacyLink{
        left: 142px;
        top: 768px;
    }
}


/* OVER 545px */
@media only screen and ( min-width: 545px ) {
    #textDiv{
        position: absolute;
        width: 430px;
        height: 217px;
        left: 505px;
    }
    
    #yourCityIs{
        font-size: 64px;
        line-height: 87px;
        margin: 411px auto 0px auto
    }
    
    #cityAJAX{
        font-style: normal;
        font-size: 72px;
        line-height: 98px;
        margin: 0px auto
    }

    #privacyLink{
        left: 684px;
        top: 973px;
        margin-bottom: 33px
    }
}