#privacyContent{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    margin: 32px 24px auto 24px
}

#privacyTitle{
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    line-height: 49px;
    margin: 32px auto
}

#privacyText{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0px auto
}

/* OVER 545px */
@media only screen and ( min-width: 545px ) {
    #privacyTitle{
        height: 82px;
        text-align: center;
        font-size: 72px;
        line-height: 98px;
    }
}