<!DOCTYPE html>
<html>

<head>
    <title>Web Dev Homework</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <div>
            <h1>Your city is</h1>

            <span id="city"></span>
        </div>
        <script>
            $.ajax({
                url: "https://geolocation-db.com/jsonp",
                jsonpCallback: "callback",
                dataType: "jsonp",
                success: function (location) {
                    $('#city').html(location.city);
                }
            });		
        </script>
</body>

</html>