{% include header.html %}

<body>
    <div class="textDiv">
        <h2 id="yourCityIs">Your city is</h2>
        <span class="hidden" id="citySpan">
            <h1 id="city"></h1>
        </span>
    </div>

    <a href="/WebDevHomework/privacy" id="privacyLink">Privacy policy</a>

    <script>
        $.ajax({
            url: "https://geolocation-db.com/jsonp",
            jsonpCallback: "callback",
            dataType: "jsonp",
            success: function (location) {
                $("#citySpan").removeClass("hidden")
                $('#city').html(location.city);
            }
        });		
    </script>
</body>